
LoodosMovieCase.xcodeproj/project.xcworkspace/xcuserdata/abdulbakikaplan.xcuserdatad/UserInterfaceState.xcuserstate

LoodosMovieCase.xcworkspace/xcuserdata/abdulbakikaplan.xcuserdatad/UserInterfaceState.xcuserstate
